*{list-style-type:none;margin:0;padding:0;box-sizing:border-box;}

/* This is for the index page */
nav{background-color:white;width:100%;height:600px;position:absolute;left:-100%;transition:all 0.6s ease-in-out;}
nav li a{color:black;font-size:45px;text-decoration:none;}
nav li{padding:10px;padding-left:40px;padding-top:35px;text-align:center;margin-top:65px;}
.img{display:box;float:right;}
.trigger:checked ~ nav {left:0;}
.trigger{display:none;}
header{display:flex;flex-direction:row;justify-content:space-between;}
nav li a:hover{color:blue;background-color:white;border-radius:10px;transition:0.5;height:35px;width:auto;display:box;padding:5px;}

.line{width:100%;height:2px;display:block;background-color:black;margin-top:7px;}

.img3{display:flex;justify-content:center;margin-top:30px;}
h1{display:box;margin-right:10px;}
.caption{display:box;text-align:center;}
p span{margin-left:30px;}
p{margin-left:5px;margin-right:5px;}
#footer1{font-size:30px;margin-left:10px;}
#footer2{margin-left:10px;}
#footer{font-size:15px;}
.footer1{font-size:20px;text-align:center;}
#footer3{text-align:center;}

.facebook{margin-bottom:5px;margin-right:10px;}
.instagram{margin-bottom:5px;margin-left:20px;}
.whatsapp{margin-left:20px;}
.X{margin-left:5px;}
#footer4{color:white;background-color:black;}





